*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c9c9c9;
}
.slider{
    height: 130px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: 10px;
}
.slide-track{
    width: calc(250px * 10);
    display: flex;
    animation: scroll 20s linear infinite;
}
@keyframes scroll{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(calc(-250px * 5));
    }
}
.slide{
    height: 130px;
    width: 250px;
    padding: 1%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 100px;
    margin-right: 20px;
}
.slide:nth-child(1) img,.slide:nth-child(6) img{
    height: 100px;
    width: 150px;
}
.slide:nth-child(2) img,.slide:nth-child(7) img{
    height: 55px;
    width: 180px;
}
.slide:nth-child(3) img,.slide:nth-child(8) img{
    height: 90px;
    width: 230px;
}
.slide:nth-child(4) img,.slide:nth-child(9) img{
    height: 150px;
    width: 200px;
}
.slide:nth-child(5) img,.slide:nth-child(10) img{
    height: 55px;
    width: 155px;
}
img{
    height: 100%;
    width: 100%;
}